.initialPage {
    width: 100vw;
    height: 100vh;

    //Landing
    .landing {
        width: 100vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        background: url('../../public/background.png') no-repeat;
        background-size: cover;

        h1 {
            width: 90%;
            margin-top: 4em;
            text-align: center;
            color: #fff;
            font-size: 1.5em;
            align-self: center;

            strong {
                font-weight: bold;
                color: #3ACF49;
            }
        }

        .secondText {
            margin: 0;
        }

        .points {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            div {
                display: flex;
                flex-direction: column;

                span {
                    color: #FFF;

                    svg {
                        color: #3ACF49;
                    }

                    strong {
                        font-weight: bold;
                    }
                }
            }

        }

        button {
            align-self: center;
            width: 50%;
            height: 8%;
            font-size: 1.1em;

            border: none;
            border-radius: 3px;
            background: #3E74FF;
            color: #FFF;
        }
    }

    //Como funciona?
    .howWorks {
        width: 100%;
        height: 100vh;
        padding: 5%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        background-color: #FFF;

        h1 {
            color: #3ACF49;
            font-weight: bold;
        }

        .container {

            width: 100%;
            height: 80%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;


            iframe {
                width: 80%;
                height: 30%;
            }

            .explanation {
                width: 85%;
                height: 35%;

                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;

                margin-top: 2.5em;

                p {
                    text-align: center;
                    margin-top: 1em;
                    font-size: 1.05em;
                }

                p:hover {
                    color: #3ACF49;
                    transform: scale(1.1);
                }
            }
        }

        button {
            width: 50%;
            height: 8%;
            border-radius: 3%;
            border: none;

            background-color: #3ACF49;
            color: #FFF;
            font-size: 1em;
        }

    }

    //Passos
    .steps {
        width: 100%;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        background-color: #D9D9D9;

        h1 {
            text-align: center;
            font-weight: bold;
            color: #3E74FF;
        }

        .container {
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .step {
                width: 80%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: all 0.3s;

                text-align: center;

                span {
                    font-size: 4em;
                    font-weight: bold;
                    color: #3E74FF;
                }

                hr {
                    width: 15%;
                    border-color: #3ACF49;
                    background: #3ACF49;
                }

                p {
                    margin-top: 0.5em;
                    text-align: center;
                }
            }

            .step:hover {
                transform: scale(1.05);
            }
        }

    }

    //Perguntas frequentes
    .commonQuestions {
        width: 100%;
        height: auto;
        min-height: 50vh;

        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            margin: 2em 0 20% 0;
            font-weight: bold;
            color: #3ACF49;
        }

        .questionsComponent {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .questionComponent {
                width: 80%;
                margin-bottom: 1em;
                cursor: pointer;

                background-color: #D9D9D9;
                padding: 1em;

                .question {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h1 {
                        margin: 0;
                        font-size: 1.5em;
                    }
                }

                .response {
                    margin-top: 1em;
                }
            }
        }


    }

    //Contato
    .contact {
        width: 100%;
        height: auto;
        min-height: 50vh;
        //background-color: #D9D9D9;
        margin-top: 3em;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        h1 {
            margin: 0 0 1em 0;
            color: #3E74FF;
            font-weight: bold;
        }

        p {
            width: 80%;
            margin: 2em 0 2em 0;
            text-align: center;
        }

        .whatsAppButton {
            margin: 2em 0 8em 0;
            width: 70%;
            height: 10vh;
            padding: 1em;
            text-align: left;

            display: flex;
            justify-content: center;
            align-items: center;

            border: none;
            border-radius: 3%;
            background-color: #3ACF49;

            p {
                width: 100%;
                margin-left: 0.5em;
                color: #FFF;
                text-align: left;
            }
        }
    }
}


//MEDIA QUERIES

//Celular
@media (max-width: 599px){
    .initialPage{
     
    }
}

//Tablet pequeno
@media(min-width: 600px){
    .initialPage{

    }
}

//Tablet grande
@media(min-width: 900px){
    .initialPage{

    }
}

//Desktop
@media(min-width: 1200px){
    .initialPage{

    }
}

//Desktop grande
@media(min-width: 1800px){
    .initialPage{

    }
}