.sendPage {
    width: 100vw;
    height: auto;
    background: linear-gradient(#3ACF49, #3E74FF);

    p {
        margin: 1em 0 1em 0;
    }

    .container {
        width: 100vw;
        height: 100vh;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: url('../../public/background.png') no-repeat;
        background-size: cover;

        .text {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            text-align: center;

            h1 {
                color: #FFF;

                strong {
                    color: #3ACF49;
                    font-weight: bold;
                }
            }

            p {
                text-align: center;
                margin-top: 2em;
                width: 70%;
                color: #FFF;
            }
        }

        .forms {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            width: 80%;
            height: auto;
            background-color: rgba(0, 0, 0, 0.5);
            margin-top: 3em;
            border-radius: 5px;

            .sliderCounter {

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                width: 100%;
                height: auto;


                p {
                    color: #FFF;
                    margin: 1em 0 0.5em 0;
                    padding: 0;
                }

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    margin-bottom: 1em;
                    
                    p {
                        margin: 0;
                        font-size: 2em;
                        font-weight: bold;
                    }

                    span {
                        font-weight: lighter;
                        color: #fff;
                    }
                }

                input {
                    margin-bottom: 1.5em;
                    -webkit-appearance: none;
                    background: #969191;
                    outline: none;
                    width: 60%;
                    height: 10px;
                    border-radius: 9px;
                    padding: 0;
                }

                input::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;

                    background: #3ACF49;
                    cursor: pointer;
                }
            }

            label {
                width: 80%;
                text-align: left;
                color: #FFF;
                font-family: "Inter", sans-serif;
                margin-top: 0.5em;

                span {
                    color: #3ACF49;
                }
            }

            input {
                width: 80%;
                margin-top: 0.5em;
                border: none;
                padding: 2%;
                border-radius: 3px;
            }

            input:focus {
                border: 1px solid #3ACF49;
            }

            .result {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                background: #FFF;

                margin: 1.5em 0 1.5em 0;
                padding: 3%;
                border: 1px solid #000000;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 3px;

                p {
                    margin: 0 0 0.5em 0;
                    padding: 0;
                }

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        margin: 0;
                        font-size: 2em;
                        font-weight: bold;
                        color: #5A5A5A;
                    }

                    span {
                        font-weight: lighter;
                        color: #5A5A5A;
                    }
                }

                button {
                    border: none;
                    background-color: #3ACF49;
                    color: #FFF;
                    margin: 1em 0 0 0;
                    padding: 4%;
                    border-radius: 5px;
                    font-size: 0.9em;
                }
            }
        }

    }
}

//MEDIA QUERIES

@media(max-width: 360px) {
    .sendPage {
        p {
            width: 90%;
        }

        .container {
            .text {
                h1 {
                    font-size: 1.5em;
                }

                p {
                    width: 85%;
                }
            }

            .forms {
                label {
                    font-size: 0.85em;

                    span {
                        font-size: 0.85em;
                    }
                }

                button {
                    font-size: 0.85em
                }
            }

        }
    }
}

@media(max-height: 667px) {
    .sendPage {
        p {
            width: 90%;
        }

        .container {
            .text {
                h1 {
                    font-size: 1.25em;
                    margin-top: 4em;
                }

                p{
                    margin-top: 1em;
                    width: auto;
                }
            }

            .forms {

                margin-top: 1em;

                .sliderCounter{
    
                    p {
                        font-size: 0.9em;
                        text-align: center;
                        margin: 0.5em 0 0.5em 0;
                    }
    
                    div {
                        p {
                            font-size: 1.5em;
                        }
                    }
    
                    input {
                        margin-bottom: 1em;
                        height: 5px;
                    }
    
                    input::-webkit-slider-thumb {
                        width: 20px;
                        height: 20px;   
                    }
                }
    
                label{
                    font-size: 0.85em;
                }

                input{
                    height: 1em;
                }

                .result {
                    margin: 1em 0 1em 0;
                    padding: 0.5em;
                    width: 85%;
    
                    p {
                        margin: 0 0 0.5em 0;
                        padding: 0;
                        font-size: 0.9em;
                        width: auto;
                        text-align: center;
                    }
    
                    div {
    
                        p {
                            font-size: 1.5em;
                        }
    
                        span {
                            font-weight: lighter;
                            color: #5A5A5A;
                        }
                    }
    
                    button {
                        border: none;
                        background-color: #3ACF49;
                        color: #FFF;
                        margin: 0.5em 0 0 0;
                        padding: 4%;
                        border-radius: 5px;
                        font-size: 0.9em;
                    }
                }
            }

        }
    }

    @media(max-width: 280px) {
        .sendPage {

            p {
                font-size: 0.85em;
                width: 90%;
            }

            .container {
                .text {
                    h1 {
                        font-size: 1.25em;
                    }

                    p {
                        font-size: 0.9em;
                        width: 85%;
                    }
                }

                .forms {
                    label {
                        font-size: 0.85em;

                        span {
                            font-size: 0.85em;
                        }
                    }

                    button {
                        font-size: 0.85em
                    }
                }

            }
        }

    }
}

@media(min-width: 540px) {
    .sendPage {

        p {
            font-size: 1em;
            width: 90%;
        }

        .container {
            justify-content: center;

            .text {
                h1 {
                    font-size: 1.5em;
                }

                p {
                    font-size: 1.05em;
                }
            }

            .forms {
                height: 50%;

                label {
                    font-size: 0.9em
                }

                input {
                    font-size: 0.9em;
                    height: 8%;
                }


                button {
                    font-size: 1em;
                    padding: 2.5%;
                }
            }

        }
    }
}

@media(max-width: 599px) {}

@media(min-width: 717px) {
    .sendPage {

        p {
            font-size: 0.9em;
            width: 90%;
        }

        .container {
            justify-content: center;

            .text {
                margin-top: 5em;

                h1 {
                    font-size: 1.4em;
                }

                p {
                    font-size: 0.9em;
                    margin-top: 1em;
                }
            }

            .forms {
                height: 75%;
                padding: 1.5%;
                margin-bottom: 2em;
                width: 60%;

                label {
                    font-size: 0.9em
                }

                input {
                    font-size: 0.9em;
                    height: 8%;
                }


                button {
                    font-size: 0.9em;
                    padding: 2%;
                }
            }

        }
    }
}

//Tablet pequeno
@media(min-width: 768px) {
    .sendPage {

        p {
            font-size: 1.35em;
            width: 90%;
        }

        .container {
            justify-content: center;

            .text {
                h1 {
                    font-size: 2em;
                }

                p {
                    font-size: 1.35em;
                }
            }

            .forms {
                height: 50%;
                width: 90%;

                label {
                    font-size: 1.25em
                }

                input {
                    font-size: 1.35em;
                    height: 8%;
                }


                button {
                    font-size: 1.35em;
                    padding: 3%;
                }
            }

        }
    }
}

//Tablet grande
@media(min-width: 900px) {}

@media(min-width: 1024px) {
    .sendPage {

        p {
            font-size: 1em;
        }

        .container {
            .text {
                margin-top: 1.5em;

                h1 {
                    font-size: 1.5em;
                }

                p {
                    font-size: 1em;
                }
            }

            .forms {
                width: 50%;

                label {
                    font-size: 0.9em;
                }

                input {
                    font-size: 0.9em;
                }

                button {
                    font-size: 0.9em;
                }
            }

        }
    }
}

//Desktop
@media(min-width: 1200px) {
    .sendPage {
        .container {
            .text {
                h1 {
                    font-size: 1.8em;
                }

                p {
                    font-size: 1.2em;
                }
            }

            .forms {

                label {
                    font-size: 1em;
                }

                input {
                    font-size: 1em;
                }

                button {
                    font-size: 1em;
                    padding: 2.5%;
                }
            }

        }
    }

}

//Desktop grande
@media(min-width: 1800px) {
    .sendPage {
        .container {
            .text {
                h1 {
                    font-size: 2em;
                }

                p {
                    font-size: 1.4em;
                }
            }

            .forms {

                label {
                    font-size: 1.2em;
                }

                input {
                    font-size: 1.2em;
                }

                button {
                    font-size: 1.2em;
                    padding: 2.5%;
                }
            }

        }
    }
}

@media(min-width: 2000px) {}