.quotas {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0.5em 0 2em 0;

    .solarPlant {
        background-color: #FFF;
        width: 90%;
        border-radius: 2%;
        margin-top: 1.5em;

        header {
            img {
                width: 100%;
                height: 10%;

                border-top-left-radius: 2%;
                border-top-right-radius: 2%;
            }
        }

        .description {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            padding: 3%;

            .title {
                color: #3ACF49;
                font-weight: bold;
                font-size: 1.3em;
                text-align: center;
            }

            .amountQuotes {
                margin-top: 0.5em;
                color: #D9D9D9;
            }

            hr {
                width: 50%;
                margin: 1em 0 1em 0;
            }

            .amountControl {
                width: 50%;
                margin: 1em 0 1em 0;

                display: flex;
                justify-content: space-evenly;
                align-items: center;

                color: #D9D9D9;

                span:first-child,
                span:last-child {
                    color: #000;
                }
            }

            button {
                width: 50%;
                padding: 1em;
                margin: 1em 0 1em 0;

                border: none;
                color: #FFF;
                background-color: #3ACF49;
                border-radius: 3%;
                cursor: pointer;
            }
        }

    }
}

@media(min-width: 717px){
    .quotas {
        width: 80%;

        .solarPlant {
            .description {
                .title {
                    font-size: 1.4em;
                }

                .amountEnergy{
                    font-size: 1.4em;
                }

                .amountQuotes {
                    font-size: 1em;
                }

                .amountControl {
                    span {
                        font-size: 0.9em;
                    }
                }

                button {
                    font-size: 0.9em;
                    width: 30%;
                }
            }

        }
    }
}

@media(min-width: 768px){
    .quotas {
        width: 90%;

        .solarPlant {
            .description {
                .title {
                    font-size: 2em;
                }

                .amountQuotes {
                    font-size: 1.5em;
                }

                .amountControl {
                    span {
                        font-size: 1.5em;
                    }
                }

                button {
                    font-size: 1em;
                    width: 30%;
                }
            }

        }
    }
}

@media(min-width: 1024px){
    .quotas {
        .solarPlant {
            margin-top: 1em;

            .description {
                .title {
                    font-size: 1.2em;
                }

                .amountQuotes {
                    font-size: 1em;
                }

                .amountEnergy {
                    font-size: 1.2em;
                }

                .amountControl {
                    span {
                        font-size: 0.8em;
                    }
                }

                button {
                    font-size: 0.7em;
                    width: 50%;
                }
            }

        }
    }
}

@media(min-width: 1200px){
    .quotas {
        .solarPlant {
            margin-top: 1em;

            .description {
                .title {
                    font-size: 1.2em;
                }

                .amountQuotes {
                    font-size: 1em;
                }

                .amountEnergy {
                    font-size: 1.2em;
                }

                .amountControl {
                    span {
                        font-size: 0.8em;
                    }
                }

                button {
                    font-size: 0.7em;
                    width: 50%;
                }
            }

        }
    }
}

@media(min-width: 1800px){
    .quotas {
        .solarPlant {
            margin-top: 1em;

            .description {
                .title {
                    font-size: 1.5em;
                }

                .amountQuotes {
                    font-size: 1.2em;
                }

                .amountEnergy{
                    font-size: 1.4em;
                }

                .amountControl {
                    span{
                        font-size: 1em;
                    }
                }

                button {
                    font-size: 1em;
                    width: 50%;
                }
            }

        }
    }
}