.header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.6);

    img {
        width: 40%;
        height: 50%;
    }

    .menu {
        display: none;
    }

    svg {
        margin-left: 1em;
        color: #3E74FF;
    }
}

//MenuModal
.container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;

    display: flex;
    justify-content: center;
    align-items: center;

    .menu {
        background: linear-gradient(#3ACF49, #3E74FF);
        border-radius: 1em;
        padding: 3em;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

        ul {
            font-size: 1.5em;
            text-align: center;

            .closeButton {
                text-align: right;
                margin-top: 0;
            }

            li {
                color: #fff;
                padding: 0.25em;
            }
        }

    }
}

//MEDIA QUERIES

//Celular
@media(max-height: 667px) {
    .header {
        img {
            width: 30%;
            height: 50%;
        }
    }

    @media(max-width: 280px){
        .header{
            img{
                width: 40%;
            }
        }
    }
}

@media(min-width: 540px) {
    .header {
        img {
            width: 25%;
        }
    }
}

@media (max-width: 599px) {}

//Tablet pequeno
@media(min-width: 600px) {
    .header {
        img {
            width: 30%;
            height: 50%;
        }
    }
}

//Tablet grande
@media(min-width: 900px) {}

@media(min-width: 1024px){
    .header {
        img {
            width: 15%;
            height: 70%;
        }
    }
}

//Desktop
@media(min-width: 1200px) {
    .header {
        justify-content: space-evenly;

        img {
            width: 9.5%;
            height: 55%;
        }

        .menu {
            display: flex;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    margin-left: 0.8em;

                    a {
                        color: #FFF;
                        transition: all 0.3s;
                        font-size: 0.85em;
                    }

                    a:hover {
                        color: #3ACF49;
                    }
                }

                .sign {
                    a {
                        color: #3ACF49;
                    }
                }
            }

        }

        svg {
            display: none;
        }
    }
}

//Desktop grande
@media(min-width: 1800px) {
    .header {
        justify-content: space-evenly;

        img {
            width: 8%;
            height: 50%;
        }

        .menu {
            display: flex;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    margin-left: 0.8em;

                    a {
                        color: #FFF;
                        transition: all 0.3s;
                        font-size: 1.05em;
                    }

                    a:hover {
                        color: #3ACF49;
                    }
                }

                .sign {
                    a {
                        color: #3ACF49;
                    }
                }
            }

        }

        svg {
            display: none;
        }
    }
}

@media(min-width: 2000px) {}