//Rodapé
.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
 
    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            width: 50%;
            height: 30%;
            margin-top: 1em;
        }

        .description {
            text-align: center;
            color: #FFF;
        }
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .social {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1,
            a {
                color: #fff;
                margin: 0;
                padding: 0;
            }

            a:last-child {
                margin-bottom: 2em;
            }
        }
    }
}

//MEDIA QUERIES

//Celular
@media (max-width: 599px) {
    
}

//Tablet pequeno
@media(min-width: 600px) {
    .initialPage {}
}

//Tablet grande
@media(min-width: 900px) {
    .initialPage {}
}

//Desktop
@media(min-width: 1200px) {
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
     
        .top {
            width: 50%;

            img {
                width: 25%;
                height: 30%;
            }

            .description{
                font-size: 1em;
            }
        }
    
        .container {
            width: 50%;
            flex-direction: row;
            margin-top: 2em;
    
            .social {
                margin-left: 2em;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
    
               h1{
                font-size: 1.5em;
                margin-bottom: .2em;
               }

               a{
                margin-bottom: 0.05em;
               }
            }
        }
    }
}

//Desktop grande
@media(min-width: 1800px) {
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
     
        .top {
            img {
                width: 20%;
                height: 50%;
            }
        }
    
        .container {
            flex-direction: row;
    
            .social {
                margin-left: 2em;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
    
               h1{
                margin-bottom: .2em;
               }

               a{
                margin-bottom: 0.05em;
               }
            }
        }
    }
}

@media(min-width: 2000px) {

}